.user-name-info{
	margin-top: 2.2rem;
	margin-left: 0.8rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
    transition: all .5s;
	padding-left: 0.5rem;
}

.nick{
font-size: 1.6rem;
font-weight: 700;
line-height: 2.2remx;
color: #ffffff;
}

.email {
font-size: 1.4rem;
font-weight: 400;
line-height: 1.9rem;
color: #ffffff;
}