.side-arrow {
	background-color: #A492FF;
	background-image: url(./img/Vector.png);
	background-repeat: no-repeat;
	background-position: 55% 50%;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 50%;
	position: absolute;
	top: 3rem;
    right: -1.3rem;
	display: flex;
	align-items: center;
	justify-content: center;

}