.search {
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
  color: #c0bfbd;
}

.search::placeholder {
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 2.2rem;
	color: #c0bfbd;	
}
