.user-name {
  min-width: 4.4rem;
  height: 4.4rem;
  background-color: #a492ff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.2rem;
  color: #ffffff; 
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .8rem;
  margin-top: 2rem;
  margin-left: 2.4rem;
}
