.navigationHolder {
	width: 90px;
	height: 100vh;
	background-color: #242625;
	display: flex;
	flex-direction: column;
    position: relative;
	transition: all .5s;
}

.top-and-bottom-holder {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.navigationHolder:hover {
	width: 25rem;
	transition: all .5s;
}

.navigationHolder:hover .user-name-info{
	display: flex;
	width: 100%;
	transition: all .5s;
}

.navigationHolder:hover .side-arrow {
	background-image: url(./sidearrow/img/vector-left.svg);
	transition: all .5s;
}

.username-wrapper{
	display: flex;
	width: 90%;
	justify-content: start;
	align-items: center;
}

.navIcons {
	margin-top: 5.6rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.navigationHolder:hover .nav-icon{
	border-radius:  .8rem 0 0 .8rem;
	transition: all .5s;
}

.navigationHolder:hover .nav-icon * {
	stroke: #C0BFBD;
	transition: all .5s;	
}

.navigationHolder:hover .nav-icon__text {
	width: 16.2rem;
	transition: all .5s;
}

.navigationHolder:hover .mode-text {
	transition: all .5s;
width: 100%;
}

.navigationHolder:hover .mode__pre-text {
width: 100%;
	margin-left: 3.3rem;
	transition: all .5s;
}

.navigationHolder:hover .nav-icon__pre-text {
	display: flex;
	transition: all .5s;
}