.nav-icon-wrapper{
	display: flex;
	margin-left: 1.6rem;
}

a {
	display: flex;
	color: #C0BFBD;
	text-decoration: none;

}

.nav-icon-wrapper:hover .nav-icon, .nav-icon-wrapper:hover .nav-icon__text{
	background-color: #424444;

}

.nav-icon{
min-width: 5.6rem;
height: 5rem;
border-radius: .8rem;
display: flex;
align-items: center;
justify-content: center;
}


.nav-icon__text {
width: 0;
border-radius: 0 .8rem .8rem 0;
font-size: 1.6rem;
font-weight: 600;
line-height: 2.2rem;
color: #C0BFBD;
align-items: center;
display: flex;
overflow: hidden;
transition: all .5s;
}