.mode-wrapper{
height: 5rem;
display: flex;
align-items: center;
justify-content: center;
padding-right: 1.6rem;
transition: all .5s;

}

 .mode__pre-text{
	width: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
align-items: center;
transition: all .5s;
}

.grey-sun{
	display: inline-block;
}

.mode-text{
	margin-left: 1.7rem;
	color: #C0BFBD;
	overflow: hidden;
	transition: all .5s;
}

.switch {
	min-width: 3.5rem;
	height: 2rem;
	background-color: #424444;
	border-radius: 10rem;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 .2rem;
}

.mode-text {
	width: 0;
	height: 2.2rem;
font-size: 1.6rem;
font-weight: 600;
line-height: 2.2rem;
overflow: hidden;
transition: all .5s;

}

.radio-wrapper {
	width: 50%;
}


#dark, #light {
	position: absolute;
	display: none;
} 

#dark:checked+label, #light:checked+label{
	display: none;
}

.img-wrapper {
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

}

.img-wrapper img {
	height: 90%;
}

.dark {
	background-color: #1e2020;
	cursor: pointer;

}

.light {
	background-color: #ffffff;
	cursor: pointer;

}